
@model IEnumerable<WebAPI.Models.Book>

<input type="hidden" name="Id" v/>

<div class="content-wrapper">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <h1>Yeni Kişi Ekle</h1>
                <br />

                <form asp-controller="TelephoneBook" asp-action="Create" method="post">
                    <input type="hidden" name="Id" />
                    <div>
                        <label>Adı:</label>
                        <input type="text" name="Name" class="form-control" value="" required />
                    </div>
                    <div>
                        <label>Soyadı:</label>
                        <input type="text" name="SurName" class="form-control" value="" required />
                    </div>
                    <div>
                        <label>Telefon Numarası:</label>
                        <input type="number" name="TelephoneNumber" class="form-control" value="" required />
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-light btn-block waves-effect waves-light">Kaydet</button>

                </form>
                <br />
                <form asp-controller="TelephoneBook" asp-action="Index" method="post">

                    <h3 class="card-title">Kişilerim</h3>
                     <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Kullanıcı Kodu</th>
                                <th>Adı </th>
                                <th>Soyadı</th>
                                <th>Telefon Numarası</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SurName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TelephoneNumber)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a> |

                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                     </div> 
                </form>
            </div>
        </div>
    </div>

</div><!--End Row-->
