
@model IEnumerable<Entities.Book>



<input type="hidden" name="Id" value="@ViewBag.CustomerId" />

<div class="content-wrapper">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h1>Yeni Kişi Ekle</h1>
                <br />

                <form asp-controller="Book" asp-action="Index" method="post">
                    <input type="hidden" name="Id" />
                    <div>
                        <label>Adı:</label>
                        <input type="text" name="Name" class="form-control" value="" required />
                    </div>
                    <div>
                        <label>Soyadı:</label>
                        <input type="text" name="SurName" class="form-control" value="" required />
                    </div>
                    <div>
                        <label>Telefon Numarası:</label>
                        <input type="text" name="NameSurname" class="form-control" value="" required />
                    </div>
                    <button type="submit">Ekle</button>
                </form>
                <br />
                <form asp-controller="Book" asp-action="GetAll" method="post">

                    <h3 class="card-title">Kişilerim</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Kullanıcı Kodu</th>
                                    <th>Adı </th>
                                    <th>Soyadı</th>
                                    <th>Telefon Numarası</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SurName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TelephoneNumber)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a> |

                                        </td>
                                    </tr>

                                }
                            </tbody>

                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div><!--End Row-->
<!--</form>-->
<!--start overlay-->
<div class="overlay toggle-menu"></div>
<!--end overlay-->
